 <!-- Navigation bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">
            <span>
                <img src="/blogicon.png" style="width: 50px;" alt=" ">
            </span>Blogger</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                <li class="nav-item"
                    onMouseOut="this.style.backgroundcolor='#00F'">
                    <a class="nav-link <% if (active==='Home' ){%>
                        active
                        <% }%>
                            aria-current=" page" href="/">
                        Home
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link 
                    <% if (active==='create'){%>
                        active
                        <% }%> 
                    " href="/blog/create">Create blog</a>
                </li>

            </ul>
        </div>
         <!-- Login and logout buttons -->
         <button class="btn btn-dark" onclick="flipicon()">
             <i class="fas fa-adjust" id="night"></i>
         </button >
            <div id="inbtns">
                <a href="/auth/signup">
                    <button class=" mx-1 btn btn-sm signbutton" >
                    sign up
                </button>
            </a>
            <a href="/auth/login">
                <button class="mx-1 btn btn-sm signbutton">
                    Log in
                </button>
            </a>
        </div>
        <div id="outbtns" style="display: none;">

            <button class=" mx-1 btn btn-sm signbutton" onclick="logout()">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                logout
            </button>

        </div>
    </div>
</nav>
<script>
    let mode='night';
    if (localStorage.getItem('token')) {
        document.getElementById('outbtns').style.display = "block";
        document.getElementById('inbtns').style.display = "none";
    }
    else {
        document.getElementById('outbtns').style.display = "none";
        document.getElementById('inbtns').style.display = "block";

    }
    function logout() {
        localStorage.clear();
        window.location.reload();
    }
    function flipicon()
    {
        if(mode==="night"){
            mode='light'
            document.body.style.backgroundColor="#c5c4c4";
        document.getElementById('night').style.transform='scaleX(-1)';}
        else{
        mode='night';
        document.body.style.backgroundColor="black";
        document.getElementById('night').style.transform='scaleX(1)';}
        console.log("clicked")
    }
</script>