<div class="my-4 d-flex justify-content-center modechange" style="color: rgb(0, 0, 0);">
    <div>
        <img src="/notlogged.png" style="width:200px;height: 200px;" class="make_center" alt="">
        <h3 >You are not logged in </h3>
        <h4>Log in <a href="/auth/login" style="color:green">here</a> to create
            a blog</h4>
    </div>
</div>